@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* utility class  */
.container{
    max-width: 1200px;
    width: 90%;
    margin:  auto;
}
/* ####navbarstyle for desktop mode#### */

.navbar  input[type="checkbox"],.navbar .hamburger_line{
    display: none;
}
.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background-color: #fff;
    color: #000;
    opacity: 0.8;
    z-index: 1000;
    /* position: relative; */
}
.navbar li{
    list-style: none;
}
.navbar_container{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu_iteams{
    order: 2;
    display: flex;
    
}
.menu_iteams li{
    margin-left: 1.8rem;
    font-size: 2rem;
}

.logo{
    order: 1;
}
.navbar a{
    text-decoration: none;
    color: rgb(51, 43, 17);
    font-weight: 500;
    transition: color 0.5s ease-in-out;
}
.navbar a:hover{
    color: palevioletred;
    /* transition: color 5s ease-in-out; */
}
/* showcase area */
/* first i will try to solve the problems by my own basis then i */
/* this is the only way to master css */
.showcase{
    height: 50vh;
    /* border: 2px solid red; */
    /* position: absolute; */
    width: 100%;
    /* height: 300px; */
    /* margin-bottom: 10rem;
    margin-top: 2rem;
    text-align: center; */
    /* transform: translate(); */
    /* background: url("./header-image2.jpg"); */
    background: url("./img/header-image2.jpg");
    background-position:center;
    /* background-position: 5rem; */
    background-size: cover;
    background-repeat: no-repeat;
    /* border-image-width: 20%; */
    /* box-shadow: #aaa; */
    

}
.helper{
    /* border: 1px solid green; */
    /* margin-top: 7rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.helper p{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.helper a{
    /* display: block; */
    /* border-radius: 2px solid blue; */
    /* border: 2px solid blue; */
    display: inline-block;
    margin-top: 1em;
    border-radius: 50px;
    
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    background-color: #168a03;
    padding: 1em 2.5em;
    cursor: pointer;
    outline: none;

}
/* about us area */
.aboutus{
    /* position: absolute; */
    padding: 50px 0;
    margin-top: 2rem;
     /* border: 5px solid black; */
    /* width: 100%;  */
    /* top: 70%; */
    /* height: 50vh; */
    box-shadow: 0px 5px 10px 0px #aaa;
    background: #f5f5f7;
    /* display: flex; */
    /* justify-content: space-between; */

}
 .abs{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}
  .abs1{
     /* width: 50%; */
     flex:1 1 400px;
     padding: 30px;
    /* border: 2px solid blue; */
    margin:  auto;
    padding-bottom: 2rem;
    height: 90%; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: translateX(-150%);
    animation: textani 1s ease-in-out ;
    animation-fill-mode: forwards;
 } 
 @keyframes textani {
     100%{
         transform: translate(0%);
     }
     
 }
  .abs2{
    /* width: 50%; */
    flex:1 1 400px;
    padding: 30px;
    max-width: 100%;
    /* border: 2px solid blue; */
    margin: 3rem auto;
    padding-bottom: 2rem;
    padding-left: 1rem;
    height: 100%; 
    transform: translateX(150%);

    /* flex:1 1 400px;
    padding: 30px; */
    /* background-image: url("../resturent/../img/vendor/img/about-photo.jpg"); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    /* display: block; */
    animation: imgani 1s ease-in-out ;
    animation-fill-mode: forwards;

} 
@keyframes imgani {
    100%{
        transform: translate(0%);
    }
}
.aboutus .abs2 img{
    display: block;
    max-width: 100%;
    /* width: 80%; */
    height: 400px;
    /* padding-bottom: 5rem; */
    object-fit: cover;
    object-position: right;
    margin: auto;

}
.tfood{
    /* height: 50vh;
    width: 100%;
    /* margin-top: 3rem; */
  /*  border: 2px solid red;
    margin: 3rem auto;
    text-align: center; */
    padding: 5rem 0 10rem 0;

}
.tfood h2{
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
}
.food_container{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

.food_container img{
    display: block;
    /* max-width: 100%; */
    width: 100%;
    max-height: 30rem;
    /* height: 20rem; */
    object-fit: cover;
    object-position: center;
    /* margin: auto; */
}
 
.btn{
    display: inline-block;
    margin-top: 1em;
    border-radius: 50px;
    
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    background-color: #168a03;
    padding: 1em 2.5em;
    cursor: pointer;
    outline: none;
}

 /* .img_content{
    position: absolute;
    top: 70%;
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
/* }  */

 .img_container{
    margin: 0 1rem;
    position: relative;
}
.img_content{
    position: absolute;
     /* top: 70%;
    left: 50%;  */
    /* bottom: 1%; */
    /* here is some bug occure let's  */
    /* fix it tomorrow */
}

